#Container{
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
}

#Header{
	height: 120px;
	background-color: #F0E68C;
}

#Menu{
	height: 80px;
	background-color: #FFFACD;
}

#Sidebar{
	width: 150px;
	height: 500px;
	background-color: #EEE8AA;
	float: left;
}

#Mainbody{
	width: 850px;
	height:500px;
	background-color: #FFFFE0;
	float: right;
}

h2 {
	color: darkblue;
}

#Footer{
	height: 80px;
	clear: both;
	background-color: #F0E68C;
}
/*
.col-md-4 {
	width: 250px;
	height: 120px;
	margin: 12.5px;
}

.col-sm-4 {
	width: 169.2px;
	height: 120px;
	margin: 12.5px;
}

.col-xs-4 {
	width: 135.8px;
	height: 120px;
	margin: 12.5px;
}
*/

@media(min-width: 1200px) {
	container {width: 100%;}
	.col-md-4 {
		width: 250px;
		height: 120px;
		margin: 12.5px;
    }
    .row {
		position: relative;
		margin-left: 12.5px;
    }

}

@media(min-width: 750px) and (max-width: 1199px){
	container {width: 100%;}
	.col-sm-4 {
		width: 240px;
		height: 120px;
		margin: 12.5px;
    }
	
	.row {
		position: relative;
		margin-left: 10px;
    }
	
	a {font-size: 22px;}
}

@media(min-width: 200px) and (max-width: 749px){
	container {width: 100%;}
	.col-xs-4 {
		width: 135.8px;
		height: 120px;
		margin: 12.5px;
    }
	a {font-size: 18px;}

.row {
	position: relative;
	margin-left: 12.5px;
}
